@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Michroma;
  src: url("./assets/fonts/Michroma-Regular.ttf");
}

@font-face {
  font-family: Poppins-Regular;
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf");
}

.container {
  max-width: 1360px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
